:root {
  --primarycololr: #ff274b;
  --text: #ff274b;
  --secondaryColor: #969393;
  --secondary: #969393;
  --lightColor: #ddd4d4;
  --bgColor-1: #171a1c;
  --bgColor-2: #22282a;
  --blue: #3261fc;
  --z1: #ffd700;
  --padding: 8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  /* font-size: 12px; */
  font-size: 62.5%;

  color: var(--lightColor);
}

span {
  color: var(--primarycololr);
}

h2 {
  font-size: 3.2rem;
  font-weight: 800;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0px 5px rgba(161, 0, 0, 0.575);
}

nav {
  padding: 2.4rem;
  background-color: var(--bgColor-2);
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}

nav ul li a {
  color: var(--lightColor);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 1.8rem;
}

nav ul li a:hover {
  color: var(--primarycololr);
}

h1 {
  font-size: 7.6rem;
  padding: 1.8rem 0;
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 3.6rem;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: var(--padding);
  color: var(--secondaryColor);
}

h5 {
  font-size: 1.6rem;
  margin: 1.4rem 0;
  letter-spacing: 2px;
}

p {
  line-height: 1.5;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.prim-btns {
  background-color: var(--primarycololr);
  color: var(--lightColor);
  border: none;
  border-radius: 30px;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  font-weight: 600;

  transition: 0.3s;
  background-color: transparent;
  border: 1px solid var(--primarycololr);
}

.prim-btns:hover {
  background-color: #fd606031;
  color: var(--lightColor);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bgColor-1);
  padding-top: 20rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding);
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hello {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: var(--secondaryColor);
}

.social {
  margin-top: 4.6rem;
}

.social img {
  margin: 0 1.4rem;
  width: 2.6rem;
  transition: 0.3s;
}

.social img:hover {
  transform: scale(1.3);
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-img img {
  width: 65%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid var(--primarycololr);
  z-index: 10;

  /* transform: translate(0, 0); */
}

.hero-img::before,
.hero-img::after {
  content: "";
  display: block;
  width: 65%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
  border: 1px solid var(--primarycololr);
  background-color: var(--bgColor-2);
  z-index: 2;
}

.hero-img::before {
  top: 4%;
  left: 20%;
  /* transform: translate(0%, 0%); */
}

.hero-img::after {
  top: -4%;
  left: 15%;
  /* transform: translate(0%, 0%); */
}

/* **********************************************************
************************** General
************************************************************* */
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.img-content img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.center {
  text-align: center;
}

/* **********************************************************
************************** About Section
************************************************************* */

.about {
  background-color: var(--bgColor-2);
  padding: var(--padding);
}

.about-img img {
  width: 65%;
}

/* **********************************************************
************************** Services Section
************************************************************* */

.services {
  background-color: var(--bgColor-1);
  padding: 3.2rem var(--padding);
}

.box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5.6rem 0;
  gap: 2rem;
}

.card {
  width: 30rem;
  background-color: var(--bgColor-2);
  border-radius: 20px;
  padding: 1.3rem 2rem;
  text-align: start;
}

.card i {
  font-size: 3.2rem;
  text-align: center;
  color: var(--primarycololr);
  margin: 1.8rem;
}
/* **********************************************************
************************** Skills Section
************************************************************* */

/* SKILLS STYLES */

.skills-section {
  background-color: var(--bgColor-2);
  padding: var(--padding);
 
}

.skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh; */
  background-color: var(--bgColor-2);
}

.skills {
  /* height: 450px; */
  width: 600px;
  margin-top: 6.4rem;
  background-color: var(--bgColor-1);
  border-radius: 10px;
  /* box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.144); */
  box-shadow: 0;
  padding: 20px 40px;
}
.skills h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--primarycololr);
  text-align: center;
}
.skills li {
  list-style: none;
  margin: 30px 0;
  color: var(--lightColor);
}
.skills-header {
  font-size: 2rem;
  font-weight: 500;
}
.skillbar {
  position: relative;
  width: 100%;
  height: 15px;
  border: 1px solid var(--lightColor);
  padding: 2px;
  margin-top: 10px;
  border-radius: 10px;
}
.skillbar span {
  display: block;
  position: relative;
  height: 100%;
  /* width: 80%; */
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff00002f, var(--primarycololr));
}
.html {
  width: 80%;
  animation: html 2s ease-in;
}
.css {
  width: 93%;
  animation: css 2s ease-in;
}
.js {
  width: 60%;
  animation: js 2s ease-in;
}
.react {
  width: 70%;
  animation: react 2s ease-in;
}
.node {
  width: 50%;
  animation: node 2s ease-in;
}

@keyframes html {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@keyframes css {
  from {
    width: 10%;
  }
  to {
    width: 93%;
  }
}
@keyframes js {
  from {
    width: 10%;
  }
  to {
    width: 60%;
  }
}
@keyframes react {
  from {
    width: 10%;
  }
  to {
    width: 70%;
  }
}
@keyframes node {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.img-skill-content {
  display: flex;
  width: 600px;
  gap : 3.2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 10rem;
}


.skill-div {
  width: 4rem;
  height: 4rem;
  background-color: rgb(255, 230, 230);
  border-radius: 50%;
  border: 1px solid var(--primarycololr);
  padding: 4.2rem;
  display: flex;
align-items: center;
justify-content: center;
}

.skill-div i {
font-size: 5.4rem;
}

.skill-div img {
  width: 5.4rem;
  height: 5.4rem;
}
/* **********************************************************
************************** Projects Section
************************************************************* */
.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.project{
  position: relative;
  height: 350px;
  width: 300px;
  transition: all .5s ease-in-out;
}
.project img{
  width: 100%;
}
.info{
  position: absolute;
  display: none;
}
.project:hover .info{
display: block;
top: 0;
background-color:#3261fc3d ;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
transition: .5s ease;
padding: 1rem;
}
.links{
  width: 100%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.links i{
  color: var(--primarycololr);
  
}
.links i:hover{
  color: var(--blue);
  cursor: pointer;

}

/* **********************************************************
************************** Contact Section
************************************************************* */
